

body {
    width: 100%;
    background-color: lightcyan;
    margin-left: 15px;
    display: flow;
}

#app {
    margin-top: 15px;
    margin-left: 15px;
    background-color: lightblue;
    opacity: .85;
    box-sizing: border-box;
    width: 200px;
    height: 200px;

    line-height: 200px;
    font-size: x-large;
    text-align: center;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px dotted #000000;
}

