

body {
    width: 100%;
    background-color: lightcyan;
    background-image: url("https://b.stripecdn.com/site-srv/assets/img/blog/posts/connect-frontend/header-background-grid-41d00e90a9df6e3a3b18a210d8f2b81667dec217.png");
    /*opacity: .4;*/
}
p {
    display: inline-block;
    width: 10%;
}
#unilink {
    margin-top: 3px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:3px;
    background-color: lightblue;
    width: 100%;
    display: flow;
    opacity: .85;
}

#app {
    margin-top: 15px;
    margin-left: 15px;
    background-color: lightblue;
    box-sizing: border-box;
    width: 200px;
    height: 200px;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px dotted #000000;
}

nav {
    margin-left: 15px;
    display: inline-block;
    width: 100%;
}