

body {
    width: 100%;
    background-color: lightcyan;

}
p {
    display: inline-block;
    width: 10%;
}
div {
    margin-top: 3px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:3px;
    background-color: lightblue;
    width: 100%;
    display: flow;
}

button {
    margin-top: 15px;
    margin-left: 15px;
    background-color: lightblue;
    box-sizing: border-box;
    width: 200px;
    height: 200px;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px dotted #000000;
}

nav {
    margin-left: 15px;
    display: inline-block;
    width: 100%;
}