
body {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background: linear-gradient(to bottom, rgb(33, 147, 176), rgb(109, 213, 237));
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}

#wrap {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#unilink {
    margin: 3px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightblue;
    display: flow;
    opacity: .85;
}
#links{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}
#unilink ul{
    list-style: none;
    width: 70%;
    display: inline-block;
}
#unilink ul li{
    display: inline-block;
}
#lists{
    display: grid;
    grid-template-columns: auto auto;
}