{% extends "home_view.html" %}
{% load static %}
<!doctype html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/s_home_view.css' %}">
 </head>
 <body>
{% block content %}

    {%  for app in apps %}
    <a href="{{ app.link }}" target="_blank" style="display: inline-block;">
        <!-- <button style="background-image: url({{ app.img_link }});" value="s"> -->
        <button>{{ app.name }}</button>
    </a>
    {% endfor %}

{% endblock %}
 </body>
</html>