{% extends "base_view.html" %}
{% load static %}
{% block title %}
    <title>OnePiece</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/s_base_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/s_manga_view.css' %}">
{% endblock %}

{% block content %}
    <div id="mangas">
    {% for chap in chapters reversed %}
        <ul id="mangalink">
            <form action="/opPost/" method="post">{% csrf_token %}
            <li>
                <a href="{{ chap.0 }}" target="_blank">{{ chap.1 }}</a>
                <input type="hidden" name="link" value="{{ chap.0 }}">
                <input type="hidden" name="done" value="True">
                {% if chap.2 == "Unread" %}
                    <button type="submit" >{{ chap.2 }}</button>
                {% else %}
                    <button type="submit" disabled >{{ chap.2 }}</button>
                {% endif %}
            </li>
            </form>
        </ul>
    {% endfor %}
    </div>
{% endblock %}
