
{% load static %}
<!doctype html>
<html>
 <head>
    <title>uniDashboard</title>
    <meta charset="UTF-8">
    <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/s_uni_view.css' %}">
 </head>
 <body>
     {% include 'navbar.html' %}

    {% block content %}
    {% for vl in VLs %}
    <div id="unilink">
        <h3>{{ vl.name }}</h3>
        <p><a href="{{ vl.link }}" target="_blank">
            UniPortal
        </a></p>
        {%  if vl.homepage != "" %}
        <p><a href="{{ vl.homepage }}" target="_blank">
            Homepage
        </a></p>
        {%  endif %}
        {%  if vl.uebungen != "" %}
        <p><a href="{{ vl.uebungen }}" target="_blank">
            Übungen
        </a></p>
        {%  endif %}
        {%  if vl.cloudlink != "" %}
        <p><a href="{{ vl.cloudlink }}" target="_blank">
            Files
        </a></p>
        {%  endif %}
    </div>
    {% endfor %}
    {% endblock %}
 </body>
</html>