{% extends "base_view.html" %}
{% load static %}
{% block title %}
    <title>uniDashboard</title>
{% endblock %}

<link rel="stylesheet" href="{% static 'css/loader.css' %}">
{% block css %}
    <link rel="stylesheet" href="{% static 'css/s_uni_view.css' %}">
{% endblock %}

{% block content %}
    <div id="wrap">
    </div>

    <div class="text-center">
        <div class="loader" id="loader">
            <br><br><br>
            <div class="spinner-border" role="status">
            <span class="sr-only">
                Loading...
            </span>
            </div>
            <br><br><br>
            <p>I'm sorry for the loading time.. we are loggin into different University portals...</p>
            <p>Universities are extremeeeely slooooowww...</p>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/uniPanel.js' %}"></script>

{% endblock %}
